*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    max-width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg,#e055e0,#881892,#540440);
    padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600PX;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.calculator h1 span{
    color:#19a7ac;
    font-size: 60px;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgb(255, 255, 255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: none;
    border-radius: 10px;
    position: relative;

}
.input-box button{
    border: 0;
    outline: none;
    border-radius: 10px;
    background: #ffff76;
    cursor: pointer;
    color:#333;
    padding: 15px 30px;
    font-weight: 500;
}
.input-box input::-webkit-calendar-picker-indicator{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    position: absolute;
    bottom: 5rem;
    left:10rem;
    color:beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#result span{
    color: aquamarine;
   font-weight: bold;
}
